<h1>geoJson入力画面</h1>
<p>geoJsonを入力してください</p>

<form action="/convert/converter" method=post>
    <div>
        <textarea name="geojson" class="input-geojson" id="geojson001"></textarea>
    </div>
    <div>
        <button class="send-geojson">Send</button>
    </div>
</form>